.paper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    a {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}

.breadcrumb {
    flex: 1 0 auto;
}

.formControl {
    margin: 20px 0 !important;
    display: block !important;
    :global(.MuiFormLabel-root) {
        font-size: 14px !important;
    }
}

.nodeIconWrap {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    padding: 10px;
    min-height: 60px;
    img {
        width: 24px;
    }
}
