.footer {
    clear: both;
    width: 812px;
    margin: 1px auto;
    background-color: #fff;
    display: flex;
}

.footerMain {
    color: rgba(0, 0, 0, 0.65);
    padding: 20px 0;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 8px;
    p {
        margin-top: 0;
    }
    a {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 600;
    }
}

.spread {
    padding: 20px 0;
    background-color: #fff;
    a {
        display: block;
        width: 180px;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
}
