.form {
    padding: 20px;
    max-width: 320px;
}

.title {
    font-size: 18px;
    margin: 0 0 2rem;
}

.loginBtn {
    width: 100%;
}

div.root {
    margin: 0;
    padding: 0 0 20px 0;
}

button.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #555;
}

.footer{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}