.container {
    width: 812px;
    margin: 0 auto;
    display: flex;
    flex: 1 0 auto;
}

.infoWrap {
    margin: 0 auto;
    flex: 1 0 auto;
    margin-bottom: 20px;
}

.personInfo {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
    }
    .tag {
        margin-left: 10px;
        font-size: 12px;
        color: #fff;
        padding: 2px 5px;
        background: linear-gradient(60deg, #ab47bc, #8e24aa);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    }
    .personInfoLeft {
        display: flex;
        flex: 1 0 auto;
    }
    .personInfoRight {
        display: flex;
        align-items: center;
        svg {
            width: 24px;
            height: 24px;
            margin-right: 100px;
            fill: rgba(0, 0, 0, 0.45);
        }
        cursor: pointer;
    }
}

.personInfoBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.authorName {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.detail {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
}

.statisticalData {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    .dataItem {
        text-align: center;
        flex: 1 0 auto;
        margin-right: 20px;
        padding: 15px;
    }
    .counter,
    .text {
        display: block;
        color: rgba(0, 0, 0, 0.65);
    }
    .counter {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.tabsWrap {
    margin-top: 20px;
    background-color: #fff;
}

.control {
    display: flex;
    a {
        margin-right: 10px;
        height: 30px;
    }
    button {
        margin-right: 10px;
        height: 30px;
    }
}

.table {
    background-color: #fff;
    border-top: 1px solid #efefef;
    td {
        font-size: 14px;
    }
    a {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.85);
    }
}

.cell {
    padding-right: 10px;
    background: #fff;
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.userAvatar {
    margin-right: 8px;
    max-width: 40px;
    min-width: 40px;
}

.cellContent {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.cellHeader {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.sign {
    border: 1px solid #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    display: block;
}

.sign + .sign {
    margin-left: 10px;
}

.cellBottom {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    color: rgba(0, 0, 0, 0.45);
}

.author {
    margin-right: 10px;
}

.time {
    flex: 1 0 auto;
}

.lastTime {
    text-align: right;
    margin-right: 10px;
}

.topicTitleWrap {
    flex: 1 0 auto;
    width: 0;
}

.topicTitle {
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    margin-left: 10px;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.userSmallAvatar {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 3px;
}

.commentNum {
    color: rgba(0, 0, 0, 0.65);
}
