.personInfo {
    background-color: #fff;
    font-size: 13px;
    .header {
        color: rgba(0, 0, 0, 0.85);
        padding: 10px;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid #ccc;
    }
    .inner {
        padding: 10px;
        border-radius: 0 0 3px 3px;
    }
    .board {
        margin-top: 10px;
        width: 80%;
    }
    .signature {
        font-style: italic;
    }
}
